<section id="book-section">
    <header class=header>
        <h1>Books</h1>
    </header>

    

    <div class="books">
        <% @books.each do |book| %>
            <article class=books-container>
                <div class="book-links btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Show", book_path(book.id) %></li>
                        <li><%= link_to "Edit", edit_book_path(book.id) %></li>
                        <li role="separator" class="divider"></li>
                        <li><%= link_to "Delete", book_path(book.id), method: :delete, data: {confirm: "Are you sure?" } %></li>
                    </ul>
                </div>
                <div class="book-info">
                    <h4>TITLE<br></h4>
                    <h3><%= book.title %></h3>
                </div>
                <hr>
                <div class="book-info">
                    <h4>AUTHOR</h4>
                    <h3><%= book.author %><h3>
                </div>
            </article>
        <% end %>
    </div>
</section>